<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New To Do</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body id="newToDo">
  <nav class="navbar navbar-light bg-info py-0">
    <a class="navbar-brand py-0" href="/">
      <svg width="213" height="80"><defs id="SvgjsDefs1264"></defs><g id="SvgjsG1265" featurekey="root" fill="#ffffff" transform="matrix(1,0,0,1,0,0)"></g><g id="SvgjsG1266" featurekey="text1" fill="#4c5055" transform="matrix(4.2674254821515705,0,0,4.2674254821515705,-3.584636530014492,-32.6742548215157)"><path d="M5.24 14 c0.6 0 1.12 0.48 1.12 1.1 c0 0.6 -0.52 1.1 -1.12 1.1 l-0.5 0 l0 5.58 l0 0 c0.62 0 1.1 0.5 1.1 1.12 s-0.48 1.1 -1.1 1.1 c-1.22 0 -2.22 -1 -2.22 -2.22 l0 -5.58 l-0.58 0 c-0.62 0 -1.1 -0.5 -1.1 -1.1 c0 -0.62 0.48 -1.1 1.1 -1.1 l0.58 0 l0 -2.9 l0 0 c0 -0.62 0.5 -1.1 1.12 -1.1 s1.1 0.48 1.1 1.1 l0 2.9 l0.5 0 z M14.219999999999999 24.06 c-1.38 0 -2.54 -0.58 -3.44 -1.52 c-0.86 -0.88 -1.38 -2.12 -1.38 -3.52 c0 -1.36 0.52 -2.54 1.38 -3.5 c0.9 -0.94 2.06 -1.52 3.44 -1.52 c1.32 0 2.52 0.58 3.34 1.52 c0.9 0.96 1.4 2.14 1.4 3.5 l0 0 c0 1.4 -0.5 2.64 -1.4 3.52 c-0.82 0.94 -2.02 1.52 -3.34 1.52 l0 0 z M12.3 16.94 c-0.46 0.54 -0.72 1.26 -0.72 2.08 c0 0.86 0.26 1.56 0.72 2.12 c0.5 0.48 1.16 0.74 1.92 0.74 c0.7 0 1.34 -0.26 1.84 -0.74 c0.5 -0.56 0.78 -1.26 0.78 -2.12 l0 0 c0 -0.82 -0.28 -1.54 -0.78 -2.08 c-0.5 -0.44 -1.14 -0.76 -1.84 -0.76 c-0.76 0 -1.42 0.32 -1.92 0.76 z  M37.42 19.02 l0 3.9 c0 0.58 -0.48 1.08 -1.08 1.08 c-0.54 0 -0.96 -0.38 -1.06 -0.86 c-0.76 0.52 -1.72 0.86 -2.72 0.86 c-2.7 0 -4.86 -2.28 -4.86 -4.98 c0 -2.74 2.16 -5.02 4.86 -5.02 c0.98 0 1.94 0.32 2.68 0.84 l0 -3.76 c0 -0.58 0.48 -1.08 1.1 -1.08 c0.6 0 1.08 0.5 1.08 1.08 l0 7.92 l0 0.02 l0 0 z M34.44 17 c-0.5 -0.52 -1.14 -0.82 -1.88 -0.82 c-0.72 0 -1.38 0.3 -1.88 0.82 c-0.5 0.5 -0.8 1.22 -0.8 2.02 c0 0.76 0.3 1.48 0.8 1.98 c0.5 0.52 1.16 0.82 1.88 0.82 c0.74 0 1.38 -0.3 1.88 -0.82 c0.5 -0.5 0.8 -1.22 0.8 -1.98 c0 -0.8 -0.3 -1.52 -0.8 -2.02 z M45.92 24.06 c-1.38 0 -2.54 -0.58 -3.44 -1.52 c-0.86 -0.88 -1.38 -2.12 -1.38 -3.52 c0 -1.36 0.52 -2.54 1.38 -3.5 c0.9 -0.94 2.06 -1.52 3.44 -1.52 c1.32 0 2.52 0.58 3.34 1.52 c0.9 0.96 1.4 2.14 1.4 3.5 l0 0 c0 1.4 -0.5 2.64 -1.4 3.52 c-0.82 0.94 -2.02 1.52 -3.34 1.52 l0 0 z M44 16.94 c-0.46 0.54 -0.72 1.26 -0.72 2.08 c0 0.86 0.26 1.56 0.72 2.12 c0.5 0.48 1.16 0.74 1.92 0.74 c0.7 0 1.34 -0.26 1.84 -0.74 c0.5 -0.56 0.78 -1.26 0.78 -2.12 l0 0 c0 -0.82 -0.28 -1.54 -0.78 -2.08 c-0.5 -0.44 -1.14 -0.76 -1.84 -0.76 c-0.76 0 -1.42 0.32 -1.92 0.76 z"></path></g></svg>
    </a>
  </nav>
  <div class="container my-5">
    <div class="card border-info">
      <div class="card-header">
        <h3 class="m-0">New To Do</h3>
      </div>
      <div class="card-body">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
          </div>
          <input id="newToDoTitle" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="card-body">
        <ul id="newToDoList" class="list-group list-group-flush"></ul>
      </div>
      <div class="card-body">
        <div class="row mb-2">
            <div class="col-lg-12">
              <div class="input-group input-group-lg">
                <input id="newToDoItem" type="text" class="form-control input-lg">
                <span class="input-group-btn ml-2">
                  <button class="btn btn-default btn-lg px-5" type="submit">Add</button>
                </span>
              </div>
            </div>
        </div>
        <a id="submitToDo" href="#" class="btn btn-outline-info px-5">Submit</a>
      </div>

    </div>
  </div>

  <script src="./script.js"></script>
</body>
</html>