body{
  min-height: 100vh;
   
}


/* html, body{
  margin: 0;
  padding: 0;
}
nav{
  list-style: none;
  background: rgb(74, 104, 114);
  display: flex;
}
nav a{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
nav li:not(:first-child){
  margin-left: auto;
}
nav li:first-child{
  text-transform: uppercase;
}
nav a:hover{
  background-color: rgba(255,255,255,0.2);
}
#todoContainer{
  margin: 1rem;
  display: flex;
  background-color: cyan;
}
.todo{
  
  background-color: burlywood;
} */